<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neusoft.ht.fee.mapper.IHouseTypeMapper">
	<resultMap id="selectHouseType" type="com.neusoft.ht.fee.model.HouseType" >
  		<id property="typeNo" column="typeno" />
  		<result property="typeName" column="typeName" />
    </resultMap>
	<select id="selectAllHouseType" resultMap="selectHouseType">
  		select * from HT_HOUSETYPE
	</select>
	<select id = "selectByNo" resultMap = "selectHouseType">
 		select*from HT_HOUSETYPE where typeNo = #{typeNo}
	</select>
	
	<!-- 
	public void addHouseType(HouseType ht) ;
	//删除户型表
	public void deleteHouseType(HouseType ht);
	//修改户型表
	public void updateHouseType(HouseType ht);
	//查询全部户型表
	public List<HouseType>selectAllHouseType();
	//根据查询
	public HouseType selectByNo(int typeNo);
	 -->
	 <insert id = "addHouseType" flushCache="true">
	 	insert into HT_HOUSETYPE (typeName) values (#{typeName})
	 </insert>
	 <delete id = "deleteHouseType">
	 	delete from HT_HOUSETYPE where typeNo = #{typeNo}
	 </delete>
	 <update id = "updateHouseType">
	 	update HT_HOUSETYPE set typeName = #{typeName} where typeNo = #{typeNo}
	 </update>
	 
	 <!-- 计算户型表的数据条数 -->
	 <select id="getCountByAll" resultType = "int">
	 	select IFNULL(count(typeNo),0) from HT_HOUSETYPE
	 </select>
	 
	 <!-- 分页查询 -->
	 <select id="selectAllWithPage" resultMap = "selectHouseType" >
	 	select * from HT_HOUSETYPE limit #{start},#{end}
	 </select>

</mapper>

