<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neusoft.ht.fee.mapper.INeighbourhoodMapper">
	<resultMap id="selectNeibourhood" type="com.neusoft.ht.fee.model.Neighbourhood" >
  		<id property="hoodNo" column="hoodno" />
  		<result property = "hoodName" column = "hoodName"></result>
  		<result property = "address" column = "Address" />
    </resultMap>

	 <insert id = "insert">
	 	insert into HT_HOUSETYPE values(#{hoodNo},#{hoodName},#{Address})
	 </insert>
	 <delete id = "deleteByPrimaryKey">
	 	delete from HT_HOUSETYPE where typeNo = #{hoodNo}
	 </delete>
	 <update id = "updateByPrimaryKey">
	 	update HT_HOUSETYPE set typeNo = #{hoodNo},#{hoodName},#{Address}
	 </update>
	 <select id="selectByPrimarykey" resultMap="selectNeibourhood">
	 	select * from HT_Neighbourhood where hoodNo = #{hoodNo}
	 </select>	
	 <select id = "selectByAll" resultMap="selectNeibourhood">
	 	select * from HT_Neighbourhood
	 </select> 

</mapper>

